<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-container w3-center">
        <h1>Welcome, {name}!</h1>
        <p>You have successfully logged in.</p>
    </div>
    <!-- <form action="/login" method="post">

    <input type="name" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit" class="login-button">Login</button>
</form> -->

    <h2>Click the button to go to a different page:</h2>
    <button onclick="redirectToPage('index.html')">Go to Page 1</button>
    <button onclick="redirectToPage('register.html')">Go to Page 2</button>
    <button onclick="redirectToPage('page3.html')">Go to Page 3</button>

    <!-- <script>
        function redirectToPage(pageUrl) {
            window.location.href = pageUrl;
        } -->
    </script>
</body>
</html>



